body{
    background-color: #28262C;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    align-self: center;
    font-size: 40px;
    color: #ffffff;

}
.btn{
    background-color: #F85A3E;
    width: 60px;
    height: 60px;
    border-style: solid;
    border-radius: 12px;
    border-color: #ffffff;
    border-width: 2px;
    color: #ffffff;
    font-weight: 800;
    font-size: 20px;
    margin: 2px;
    
}
.btn:hover{
    background-color: #ea553b;
    width: 62px;
    height: 62px;
}
.Ebtn{
    background-color: #F85A3E;
    width: 130px;
    height: 60px;
    border-style: solid;
    border-radius: 12px;
    border-color: #ffffff;
    border-width: 2px;
    color: #ffffff;
    font-weight: 800;
    font-size: 20px;
    margin: 2px;
}
.Ebtn:hover{
    background-color: #ea553b;
    width: 134px;
    height: 62px;
}
.container{
    background-color: #373737;
    display: flex;
    flex-direction: grid;
    width: 300px;
    margin: auto;
    padding: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-width: 2px;
    border-color: #ffffff;
    border-style: solid;
}
.box{
    background-color: #373737;
    width: 310px;
    height: 40px;
    margin: auto;
    color: #ffffff;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-width: 2px;
    border-color: #ffffff;
    border-style: solid;
}
.box1{
    height: 265px;
    width: 210px;
    margin: auto;
}
.box2{
    height: 265px;
    width: 70px;
    margin: auto;
    flex-direction: column;
}